@model Portfolio.Domain.Entities.User.ChangePasswordModel

<div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="changePasswordModalLabel">Change Password</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-action="ChangePassword" asp-controller="Home" method="post" id="changePasswordForm">
                    <div class="mb-3">
                        <label for="OldPassword" class="form-label">Old Password</label>
                        <input asp-for="OldPassword" class="form-control" id="OldPassword" type="password" />
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label for="NewPassword" class="form-label">New Password</label>
                        <input asp-for="NewPassword" class="form-control" id="NewPassword" type="password" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label for="ConfirmPassword" class="form-label">Confirm Password</label>
                        <input asp-for="ConfirmPassword" class="form-control" id="ConfirmPassword" type="password" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

