
.btn:focus,
.btn:active,
.btn:hover,
.dropdown-toggle:focus,
.dropdown-toggle:active,
.dropdown-toggle:hover {
    outline: none;
    background-color: transparent;
    box-shadow: none;
    --bs-btn-border-width: 0px;
}

.dropdown-item {
    background: none;
    border: none;
    padding: 0;
    color: #6e6464 !important;
    width: 100%;
    text-align: left;
}

    .dropdown-item:hover {
        background-color: transparent !important;
    }

.logoutBtn {
    display: flex;
    font-size: 14px;
    align-items: center;
}

    .logoutBtn:hover {
        background-color: #ebe9e982;
    }

.shadow-lg {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.sidebar {
    background-color: #f5f3f1c7;
}

.navbar {
    background-color: #ebe9e9;
}

.submit:hover {
    color: forestgreen;
}

.btn:hover,
.dropdown-toggle:hover {
    cursor: pointer;
}

.nav-link.active {
    background-color: #ebe9e982;
}

.nav-link {
    font-size: 14px !important;
    color: #6e6464 !important;
    padding-left: 1.5rem !important;
}
.AddBtn {
    padding: 3px 12px; /* Adjust spacing */
    font-size: 16px; /* Set font size */
    font-weight: 400; /* Normal weight */
    -webkit-appearance: none !important;
    -moz-appearance: none;
    line-height: 1.5; /* Text height */
    border: 1px solid #ccc; /* Light border */
    background-color: #007bff; /* Primary blue background */
    color: #fff; /* White text */
    border-radius: 5px; /* Slightly rounded corners */
    cursor: pointer; /* Pointer on hover */
}
    .AddBtn:hover {
        background-color: #0056b3; /* Darker blue for hover */
        border-color: #004085; /* Adjust border for hover */
    }


    .nav-link.active:hover {
        background-color: #ebe9e982;
    }

#sidenav {
    padding-right: 0px;
    height:92vh;
    padding-left: 0px;
}

.nav-link:hover {
    background-color: #ebe9e982;
}

.custom-container {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    border-radius: 2px;
    padding:1rem;
}

.heading-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #ebe9e982;
    padding: 10px;
    color: #6e6464 !important;
    font-size: 14px;
    font-weight: 500;
}

.main {
    margin: 1rem;
}

.heading-left i {
    margin-right: 8px;
    color: #6c757d;
}

.search {
    height: 1.8rem;
}

th {
    color: #6c757d;
    padding: 3px;
    font-size: 14.4px;
    font-weight: 500;
}

td {
    color: #6c757d;
    padding: 3px;
    font-size: 13.5px;
}

.form-label {
    font-size: 14px !important;
}

.form-control {
    padding: 0.35rem 1.20rem !important;
    font-size: 14.2px !important;
}

.form-select {
    font-size: 13.2px !important;
}
.container {
    height: 33px !important;
}
@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1290px !important;
    }
}
.logo-image {
    display: block; /* Makes the image a block element */
    margin: 0 auto; /* Centers the image horizontally */
    width: 200px; /* Set a specific width */
    height: 52px; /* Set a specific height */
    object-fit: contain; /* Ensures the image fits within the width/height without distortion */
    z-index: 2; /* Ensures it stays above the background */
    position: relative;
}
.positiveAlert, .negativeAlert {
    position: fixed;
    top: 1rem;
    left: 1rem;
    font-size: 0.9rem;
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 9999;
    width: 17.5% !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow for better visibility */
}

.positiveAlert {
    background-color: #0aa10f;
}

.negativeAlert {
    background-color: #c90c16;
}
.custom-breadcrumb {
    --bs-breadcrumb-divider: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E");
    padding: 12px 0px 0px 0px;
}
.section{
    height:10%;
}
.btn:hover {
    visibility: visible !important; /* Ensure the button is always visible on hover */
    opacity: 1 !important; /* Ensure full opacity on hover */
}
