@model Portfolio.Domain.Entities.User.ChangePassword.PasswordModel;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (ViewData["Message"] != null)
{
    var messageType = ViewData["MessageType"]?.ToString();
    if (messageType == "Success")
    {
        <div id="alertMessage" class="positiveAlert">
            @ViewData["Message"]
        </div>
    }
    else
    {
        <div id="alertMessage" class="negativeAlert">
            @ViewData["Message"]
        </div>
    }
}
<div class="col-lg-6 bg-white userform">
    <img src="/Images/logo.png" alt="Logo" class="logo-image" />
    @using (Html.BeginForm("changePassword", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="custom-floating-label mb-3">
            <div class="input-group">
                <span class="input-group-text"><i class="fa fa-lock"></i></span>
                <input asp-for="NewPassword" class="form-control name-field" id="NewPassword" placeholder="" />
                <label for="NewPassword" style="left:3.1rem;">New Password</label>
            </div>
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="custom-floating-label mb-3">
            <div class="input-group">
                <span class="input-group-text"><i class="fa fa-lock"></i></span>
                <input asp-for="ConfirmPassword" class="form-control name-field" id="ConfirmPassword" placeholder="" />
                <label for="ConfirmPassword" style="left:3.1rem;">Confirm Password</label>
            </div>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="container">
            <button type="submit" class="btn btn-primary w-45">Login</button>
        </div>
    }
</div>
