@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@if (TempData["Message"] != null)
{
    <div id="alertMessage" class="positiveAlert">
        @TempData["Message"]
    </div>
}

@if (ViewData["Message"] != null)
{
    var messageType = ViewData["MessageType"]?.ToString();
    if (messageType == "Success")
    {
        <div id="alertMessage" class="positiveAlert">
            @ViewData["Message"]
        </div>
    }
    else
    {
        <div id="alertMessage" class="negativeAlert">
            @ViewData["Message"]
        </div>
    }
}

@section Scripts {
    <script src="/js/Alert.js"></script>
}