@model Portfolio.Domain.Entities.User.SignUpModel

@using AspNetCore.ReCaptcha
@{
    Layout = "~/Views/Shared/_Layout.cshtml"; // Reference the layout file
}

<div class="col-lg-6 bg-white login-card">
    <img src="/Images/logo.png" alt="Logo" class="logo-image" />

    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="custom-floating-label mb-3">
            <div class="input-group">
                <span class="input-group-text"><i class="fa fa-user"></i></span>
                <input asp-for="Username" class="form-control name-field" id="Username" placeholder=" " required />
                <label for="Username" style="left:3.1rem;">User Name</label>
            </div>
        </div>
        <div class="custom-floating-label mb-3">
            <div class="input-group">
                <span class="input-group-text"><i class="fa fa-lock"></i></span>
                <input asp-for="Password" class="form-control password-field" type="password" id="Password" placeholder=" " required />
                <label for="Password" style="left: 3.1rem;">Password</label>
                <span class="password-group-text" onclick="togglePassword()">
                    <i class="fa fa-eye"></i> <!-- Default: Eye icon -->
                </span>
            </div>
        </div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="mb-3 recaptcha">
            <div class="d-inline-block">
                @Html.ReCaptcha()
            </div>
            <label id="g-recaptcha-error" class="error" for="ReCaptcha"></label>
        </div>
        <div class="d-flex justify-content-between align-items-center mb-1">
            <!-- Remember Me Checkbox -->
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="rememberMe" />
                <label class="form-check-label" for="rememberMe">Remember me</label>
            </div>
            <!-- Forgot Password Link -->
            <a href="/Account/ForgotPassword" class="text-decoration-none formTxt">Forgot Password?</a>
        </div>

        <div class="container">
            <button type="submit" class="btn btn-primary w-45">Login</button>
        </div>
        <div class="text-center form-check p-2">
            <span>Don't have Account?</span>
            <a href="/Home/SignUp" class="text-decoration-none fw-bold">Sign Up</a>
        </div>
    }
</div>
<div class="col-lg-6 d-none d-lg-flex flex-column justify-content-center align-items-center right-section">
    <div class="background-image">
        <img src="/Images/girl.png" alt="Background" class="centered-image" />
    </div>
</div>
<script>
        function togglePassword() {
        const passwordInput = document.getElementById("Password");
        const toggleIcon = document.querySelector(".toggle-password i");

        if (passwordInput.type === "password") {
            // Change input type to text to show password
            passwordInput.type = "text";
        } else {
            passwordInput.type = "password";
        }
    }

</script>
