@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<nav class="custom-breadcrumb" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Skills","Home")">Skills</a></li>
        <li class="breadcrumb-item active" aria-current="page">List</li>
    </ol>
</nav>
<div class="custom-container mt-2" style="height:82vh!important;">
    <div class="section">
    <!-- Button to trigger modal -->
        <button type="button" class="AddBtn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#skillModal">
            <i class="fa-solid fa-square-plus"></i>   New
    </button>
    <!-- Modal -->
        <div class="modal fade" id="skillModal" tabindex="-1" aria-labelledby="skillModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="skillModalLabel">My Skills</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Form with action pointing to the controller -->
                        <form action="/Home/Skills" method="post">
                            <div id="inputFieldsContainer">
                                <!-- Input fields for skills -->
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Enter Skill" name="skills[]" />
                                    <button class="btn btn-success add-field" type="button"><i class="fa-solid fa-plus"></i></button>
                                    <button class="btn btn-danger remove-field" type="button"><i class="fa-solid fa-trash"></i></button>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table id="skillTbl" class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Skill</th>
                    <th>Created By</th>
                    <th>Created Date</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>

    </div>
</div>
@section Scripts {
    <script src="/js/Skills.js"></script>
}